
@import "styles/colors.css";

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;

  .logo {
    height: 14rem;
    width: 14rem;

    padding: 1rem;

    background-image: url('assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slogan {
    display: flex;
    flex-direction: column;

    border-left: 1px solid var(--main-text-color);

    padding-left: 7rem;
    margin-left: 7rem;

    font-weight: 300;
  }

  .text {
    font-size: 2.4rem;

    &.accent {
      color: var(--accent-color);

    }
  }

  .heading {
    font-size: 3rem;
  }
}