@import "styles/colors.css";

:global {
  .sphere-paginator {
    display: flex;

    justify-content: space-evenly;

    padding: 0;

    li {
      list-style: none;
      font-size: 1.8rem;

      cursor: pointer;

      user-select: none;

      a {
        outline: none;
      }

      &.selected {
        color: var(--suppl-color);

        font-weight: bolder;
        text-decoration: underline;
      }
    }
  }
}