
@import "styles/colors.css";

.display {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;

  .search-button {
    display: inline-block;

    cursor: pointer;

    width: 3rem;
    height: 3rem;

    padding-left: 1rem;
    padding-right: 1rem;

    background-image: url('assets/img/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .date-range-container {
    display: flex;
    align-items: center;

    .date-range-input {
      padding: 1rem;

      width: 16rem;

      background-color: var(--input-background-color);
      color: var(--main-text-color);

      border: none;
      height: 1.8rem;
    }

    .date-range-input-label {
      &:not(:first-child) {
        margin-left: 1rem;
      }

      margin-right: 1rem;
    }

    .event-type-input {
      width: 20rem;
      font-size: 1.3rem;

      div {
        background-color: var(--input-background-color);
        color: var(--main-text-color);

        border: none;
        border-radius: 0;
      }
    }
  }

  .reports-column {
    width: 70%;
  }

  .images-column {
    width: 30%;

    min-width: 20rem;
    min-height: 60rem;

    display: flex;
    justify-content: center;

    margin-left: 1rem;

    position: relative;

    .report-images {
      display: flex;
      flex-direction: column;

      align-items: center;

      position: fixed;

      .report-images-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        :global {
          .report-image {
            z-index: 0;

            height: 20rem;
            width: 20rem;

            padding-bottom: 1rem;
            pointer-events: all !important;

            &:not(:last-child) {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }


  :global {
    .react-datepicker__header {
      background-color: transparent;
      border-bottom: none;
    }

    .react-datepicker {
      background-color: var(--input-background-color);
      color: var(--main-text-color);

      border-color: var(--suppl-color);

      font-size: 1.4rem;
    }

    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: inherit;
    }

    .react-datepicker__day:hover, .react-datepicker__month-text:hover {
      background-color: var(--suppl-color);
    }

    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
      color: inherit;
    }

    .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
      background-color: var(--input-background-color);
      color: var(--main-text-color);

      border: none;
    }

    .react-datepicker__close-icon::after {
      background-color: var(--suppl-color);
    }

    .react-datepicker__day--keyboard-selected {
      background-color: var(--suppl-color);
    }
  }
}

:global {
  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .carousel .slide {
    background: transparent !important;
  }
}
