@import "styles/colors.css";

.app {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  max-width: 1200px;

  margin: auto;

  .container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    justify-content: center;
  }
}