@import "styles/colors.css";

.selected {
  background-color: #4b577a;
  color: var(--main-text-color) !important;
}

.reports {
  padding-top: 1rem;

  .reports-container {
    padding-top: 1rem;

    .report {
      cursor: pointer;

      display: flex;
      flex-wrap: nowrap;

      max-height: 80rem;

      color: var(--suppl-color);

      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #5e6b91;
        color: var(--main-text-color) !important;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }

      .report-column {
        display: flex;
        flex-direction: column;

        justify-content: center;

        flex: 1;

        padding: 1rem;

        &:not(:last-child) {
          border-right: 1px solid var(--border-color);
        }

        &.extended {
          flex: 2;
        }
      }
    }
  }
}

.per-page-container {
  color: var(--suppl-color);
}

.per-page-select {
  cursor: pointer;

  background: transparent;
  border: none;

  color: inherit;

  font-size: 1.7rem;
}


.label {
  display: flex;
  align-items: center;

  cursor: pointer;
}