.loader,
.loader:after {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
}

.loader {
  margin: auto 1rem;
  font-size: 10px;
  position: relative;
  text-indent: -9999rem;
  border-top: 0.7rem solid rgba(255, 255, 255, 0.2);
  border-right: 0.7rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.7rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.7rem solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
