:root {
  --white: #fff;
  --grey: #131313;

  --suppl-color: #798EC8;

  --background-color: #1F253B;

  --main-text-color: #FCFCFC;

  --input-background-color: var(--grey);

  --border-color: var(--suppl-color);

  --accent-color: #FECD39;
}