@import "fonts.css";
@import "styles/colors.css";

@import "styles/vendor/carousel.min.css";

:global {
  html {
    font-size: 62.5%;
  }

  body {
    margin: 0;

    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 1.7rem;

    background-color: var(--background-color);
    color: var(--main-text-color);
  }
}